* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.CRUD {
    flex: 0 0 30%;
}

.datatables {
    flex: 0 0 70%;
}

.display {
    margin: 0 auto;
}

body {
    background-color: #37253c;
    color: #fff;
}

.form-gs {
    background-color: #37253c;
    margin-top: 15px;
    border-radius: 4px;
    font-family: 'Calibri';
    color: white;
}

.form-gs h3 {
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 35px;
}

.controls {
    width: 93%;
    background-color: #d8d8d8;
    padding: 1px;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 1px solid #379ade;
    font-family: 'Calibri';
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-gs .btns {
    display: flex;
    justify-content: left;
    align-items: center;
}

.buttons {
    border-radius: 4px;
    margin: 5px;
    width: 80px;
    height: 40px;
}

#update {
    background-color: #007acc;
    border-color: #0098ff;
    color: white;
}

#create {
    background-color: green;
    border-color: chartreuse;
    color: white;
}

#get {
    background-color: yellow;
    border-color: #b2b200;
    color: black;
}

#delete {
    background-color: red;
    border-color: #ff0000;
    color: white;
}

#update:hover {
    background-color: #0098ff;
    box-shadow: 0px 15px 26px #379ade;
    color: white;
    transform: translateY(-3px);
}

#delete:hover {
    background-color: #ff0000;
    box-shadow: 0px 15px 26px #b20000;
    color: white;
    transform: translateY(-3px);
}

#create:hover {
    background-color: chartreuse;
    box-shadow: 0px 15px 26px #58b200;
    color: white;
    transform: translateY(-3px);
}

#lista-peliculas {
    margin-top: 50px;
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .CRUD {
        flex: 0 0 100%;
        margin-bottom: 20px;
    }
    .datatables {
        flex: 0 0 100%;
    }
}